# Impedir listagem de diretórios
Options -Indexes

# Ativar engine de reescrita de URLs
RewriteEngine On 

# Libera o diretório resources e scripts para acesso direto
RewriteCond %{REQUEST_URI} ^/magatest/(scripts|resources)/ [NC]
RewriteRule ^ - [L]

# Redirecionar todas as requisições para o index.php se não for um arquivo ou diretório
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
