# Impedir listagem de diretórios
Options -Indexes

# Ativar engine de reescrita de URLs
RewriteEngine On 

# Libera o diretório resources para acesso direto sem redirecionamento
RewriteCond %{REQUEST_URI} ^/meu_projeto/scripts/ [NC]
RewriteCond %{REQUEST_URI} ^/meu_projeto/resources/ [NC]
RewriteRule ^ - [L]

# Continuar com as regras de reescrita para outras requisições
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.*)$ index.php?url=$1 [QSA]
